## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

*.GLBSCRIPT_DATA
DIR_STRUCTURE
GLBScript.exe
GLBFile.html
GLBScript.js
GLBScript.app/Tmp/closure.js
GLBScript.app/Tmp/Header.js
GLBScript.app/Tmp/remdata.txt
GLBScript.app/Tmp/tmp.txt