## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db

Tests/**/*.exe
Tests/**/DIR_STRUCTURE
Tests/**/123Script.js
Tests/**/Documentation*.md
Tests/**/*.123SCRIPT_DATA

Tmp/

123basic.exe
123File.html


ftp.txt

*.html5_convertedsounds*
*.html5_convertedsounds*/sound.mp3
*.html5_convertedsounds*/sound.ogg
*.html5_convertedsounds*/sound.wav





