## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db

Tests/**/*.exe
Tests/**/123Script.js
Tests/**/Documentation*.md

Tmp/

123basic.exe
123File.html
*.123SCRIPT_DATA
DIR_STRUCTURE

ftp.txt

*.html5_convertedsounds*
*.html5_convertedsounds*/sound.mp3
*.html5_convertedsounds*/sound.ogg
*.html5_convertedsounds*/sound.wav





